openapi: 3.1.0
info:
  title: Lobsters API
  description: >-
    The Lobsters public API provides read access to stories, comments, tags,
    and user profiles from the technology-focused link aggregation community.
    Endpoints return JSON and are available without authentication for public
    data. Stories can be retrieved by hottest or newest ranking, filtered by
    tag, and paginated by page number.
  version: 1.0.0
  contact:
    url: https://lobste.rs/about
  license:
    name: BSD 3-Clause
    url: https://github.com/lobsters/lobsters/blob/main/LICENSE
servers:
  - url: https://lobste.rs
    description: Lobsters production server
tags:
  - name: Stories
    description: Technology link aggregation stories submitted by the community
  - name: Comments
    description: Community discussion comments on stories
  - name: Tags
    description: Community-maintained taxonomy tags for categorizing stories
  - name: Users
    description: Lobsters user profiles
paths:
  /hottest.json:
    get:
      operationId: getHottestStories
      summary: Get hottest stories
      description: >-
        Returns a paginated list of stories sorted by the hotness algorithm,
        combining score, age, and community activity. This is the default
        front page ranking.
      tags:
        - Stories
      parameters:
        - name: page
          in: query
          description: Page number for pagination (1-indexed)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: List of hottest stories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Story"
  /newest.json:
    get:
      operationId: getNewestStories
      summary: Get newest stories
      description: >-
        Returns a paginated list of stories sorted by submission time,
        newest first.
      tags:
        - Stories
      parameters:
        - name: page
          in: query
          description: Page number for pagination (1-indexed)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: List of newest stories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Story"
  /active.json:
    get:
      operationId: getActiveStories
      summary: Get active discussion stories
      description: >-
        Returns stories with recent comment activity, sorted by latest
        discussion time.
      tags:
        - Stories
      parameters:
        - name: page
          in: query
          description: Page number for pagination (1-indexed)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: List of stories with active discussions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Story"
  /t/{tag}.json:
    get:
      operationId: getStoriesByTag
      summary: Get stories by tag
      description: >-
        Returns a paginated list of hottest stories filtered to a specific tag.
      tags:
        - Stories
      parameters:
        - name: tag
          in: path
          description: Tag identifier (e.g. "programming", "security")
          required: true
          schema:
            type: string
            pattern: "^[^,./]+$"
        - name: page
          in: query
          description: Page number for pagination (1-indexed)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: List of stories with the specified tag
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Story"
        "404":
          description: Tag not found
  /s/{short_id}.json:
    get:
      operationId: getStory
      summary: Get a story by short ID
      description: >-
        Returns a single story and its nested comment thread by the story's
        short identifier.
      tags:
        - Stories
      parameters:
        - name: short_id
          in: path
          description: Short alphanumeric identifier for the story (e.g. "abcdef")
          required: true
          schema:
            type: string
            maxLength: 6
      responses:
        "200":
          description: Story with nested comments
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Story"
                  - type: object
                    properties:
                      comments:
                        type: array
                        description: Nested comment thread for the story
                        items:
                          $ref: "#/components/schemas/Comment"
        "404":
          description: Story not found
  /c/{short_id}.json:
    get:
      operationId: getComment
      summary: Get a comment by short ID
      description: >-
        Returns a single comment by its short identifier.
      tags:
        - Comments
      parameters:
        - name: short_id
          in: path
          description: Short alphanumeric identifier for the comment
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Comment object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Comment"
        "404":
          description: Comment not found
  /tags.json:
    get:
      operationId: getTags
      summary: List all tags
      description: >-
        Returns a list of all active and inactive tags with their metadata,
        including category, description, and moderation attributes.
      tags:
        - Tags
      responses:
        "200":
          description: List of all tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Tag"
  /~{username}.json:
    get:
      operationId: getUser
      summary: Get a user profile
      description: >-
        Returns a user's public profile including karma, about text, avatar,
        and invitation lineage.
      tags:
        - Users
      parameters:
        - name: username
          in: path
          description: Lobsters username
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "404":
          description: User not found
components:
  schemas:
    Story:
      type: object
      description: A community-submitted technology link or text post
      properties:
        short_id:
          type: string
          description: Short alphanumeric identifier for the story
          example: "abcdef"
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the story was submitted
        title:
          type: string
          description: Title of the story
          example: "Interesting technology article"
        url:
          type: string
          format: uri
          nullable: true
          description: URL of the linked resource; null for text-only posts
        score:
          type: integer
          description: Net vote score (upvotes minus downvotes)
        flags:
          type: integer
          description: Number of flags the story has received
        comment_count:
          type: integer
          description: Total number of comments on the story
        description:
          type: string
          description: HTML-rendered description or body text for text posts
          nullable: true
        description_plain:
          type: string
          description: Plain text description or body text for text posts
          nullable: true
        submitter_user:
          type: string
          description: Username of the user who submitted the story
          example: "alice"
        user_is_author:
          type: boolean
          description: Whether the submitter is the author of the linked content
        tags:
          type: array
          description: List of tag names applied to the story, sorted alphabetically
          items:
            type: string
          example: ["programming", "security"]
      required:
        - short_id
        - created_at
        - title
        - score
        - flags
        - comment_count
        - submitter_user
        - user_is_author
        - tags
    Comment:
      type: object
      description: A community discussion comment on a story
      properties:
        short_id:
          type: string
          description: Short alphanumeric identifier for the comment
        short_id_url:
          type: string
          format: uri
          description: Full URL to the comment's short-id redirect
        url:
          type: string
          format: uri
          description: Full URL to the comment in context of its story
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the comment was posted
        last_edited_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the last edit
        is_deleted:
          type: boolean
          description: Whether the comment has been deleted by the author
        is_moderated:
          type: boolean
          description: Whether the comment has been removed by a moderator
        score:
          type: integer
          description: Net vote score for the comment
        flags:
          type: integer
          description: Number of flags the comment has received
        parent_comment:
          type: string
          nullable: true
          description: Short ID of the parent comment; null for top-level comments
        comment:
          type: string
          description: HTML-rendered comment text
        comment_plain:
          type: string
          description: Plain text comment body
        depth:
          type: integer
          description: Nesting depth in the comment thread (0 = top level)
        commenting_user:
          type: string
          description: Username of the comment author
      required:
        - short_id
        - short_id_url
        - url
        - created_at
        - last_edited_at
        - is_deleted
        - is_moderated
        - score
        - flags
        - comment
        - comment_plain
        - depth
        - commenting_user
    Tag:
      type: object
      description: A community-maintained taxonomy tag for categorizing stories
      properties:
        tag:
          type: string
          description: Unique tag identifier/slug
          pattern: "^[A-Za-z0-9_\\-+]+$"
          example: "programming"
        description:
          type: string
          description: Short human-readable description of what the tag covers
          example: "General programming topics"
        privileged:
          type: boolean
          description: Whether this tag can only be applied by moderators
        is_media:
          type: boolean
          description: Whether this tag denotes media content (video, audio, etc.)
        active:
          type: boolean
          description: Whether the tag is currently available for use
        hotness_mod:
          type: number
          description: Hotness score modifier applied to stories with this tag (-10 to 10)
          minimum: -10
          maximum: 10
        permit_by_new_user:
          type: boolean
          description: Whether new users are permitted to apply this tag
        category:
          type: string
          description: Name of the parent category this tag belongs to
          example: "Technology"
      required:
        - tag
        - privileged
        - is_media
        - active
        - hotness_mod
        - permit_by_new_user
        - category
    User:
      type: object
      description: A Lobsters community member's public profile
      properties:
        username:
          type: string
          description: Unique username for the account
          example: "alice"
        created_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp when the account was created
        is_admin:
          type: boolean
          description: Whether the user has administrator privileges
        is_moderator:
          type: boolean
          description: Whether the user has moderator privileges
        karma:
          type: integer
          description: Karma score derived from story and comment votes (omitted for admins)
        homepage:
          type: string
          format: uri
          nullable: true
          description: User's personal homepage URL
        about:
          type: string
          description: HTML-rendered about/bio text
        avatar_url:
          type: string
          format: uri
          description: URL of the user's avatar image
        invited_by_user:
          type: string
          nullable: true
          description: Username of the user who sent the invitation; null for founding members
        github_username:
          type: string
          nullable: true
          description: GitHub username if linked (omitted when not set)
        mastodon_username:
          type: string
          nullable: true
          description: Mastodon handle if linked (omitted when not set)
      required:
        - username
        - created_at
        - is_admin
        - is_moderator
        - homepage
        - about
        - avatar_url
